@charset "UTF-8";
body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #435F40;
}


/* CRM жирафов */

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  max-height: 900px;
  background: #668663;
  border-radius: 35px;
}

/* Боковое меню */

.aside-menu {
  width: 237px;
  height: 551px;
  margin-left: 32px;
  margin-top: 28px;
}

#icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#icon {
  width: 59px;
  height: 59px;
  background-image: url(/img/zhiraf-logo.png);
}

#icon-info {
  font-size: 10px;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 12px;
  margin-top: 13px;
  margin-left: 9px;
}

#icon-info p {
  font-weight: 300;
}

#button-wrapper {
  margin-top: 55px;
}

.aside-button {
  width: 237px;
  height: 51px;
  background: #567354;
  border-radius: 52px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 17px;
  line-height: 51px;
  color: #FFFFFF;
}

.aside-button i {
  display: inline-block;
  margin-right: 25px;
  margin-left: 16px;
  color: #F3DBC7;
}

.aside-button.selected {
  background: #FFFFFF;
  color: #567354;
}

.aside-button.selected i {
  color: #435F40;
}

/* Rectangle 35 */

.main-window {
  width: 1133px;
  height: 876px;
  margin: 12px 13px 12px 25px;
  background: #FFFFFF;
  border-radius: 25px;
}

#main-inside-wrapper {
  margin: 17px 40px 12px 49px;
  height: 860px;
  width: 1042px;
}

#main-top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cage {
  height: 19px;
  width: 67px;
  margin-right: 19px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #D9D9D9;
}

.cage.selected {
  color: #484848;
}

#add-cage {
  width: 20px;
  height: 20px;
  margin: 2px;
  border-radius: 50%;
  background: #D9D9D9;
  text-align: center;
  line-height: 20px;
  color: #FFFFFF;
}

#top-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#notification {
  width: 21px;
  height: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #567354;
}

#login-icon {
  height: 34px;
  width: 34px;
  background-image: url(/img/zhiraf-logo.png);
  background-size: cover;
  margin-left: 24px;
}

#mail {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #484848;
  margin-left: 13px;
}

#separator {
  width: 1042px;
  height: 3px;
  background: #D9D9D9;
  border-radius: 18px;
  margin-top: 10px;
}

#header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

#header-text {
  width: 136px;
  height: 38px;
  left: 350px;
  top: 108px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #567354;
  margin-right: 13px;
}

#add-giraffe {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: #567354;
  text-align: center;
  line-height: 37px;
  color: #FFFFFF;
  font-size: 18px;
}

#card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 236px;
  width: 1042px;
  margin-top: 26px;
}

.card {
  position: relative;
  width: 236px;
  height: 495px;
  background: #F3DBC7;
  border-radius: 28px;
  margin-right: 33px;
}

.edit-card {
  position: absolute;
  width: 18px;
  height: 21px;
  background: #435F40;
  top: 14px;
  right: 23px;
}

.card-settings {
  position: absolute;
  top: 25px;
  left: 0;
  width: 174px;
  height: 94px;
  background: #668663;
  border-radius: 20px;
  z-index: 1;
}

.edit {
  width: 151px;
  height: 32px;
  margin: 15px 13px 0px 10px;
  border-radius: 58px;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}

.edit.selected {
  background: #435F40;
}

.delete {
  width: 151px;
  height: 32px;
  margin: 9px 13px 0px 10px;
  border-radius: 58px;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}

.giraffe-photo {
  background-image: url(/img/mid_326078_138810.png);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 145px;
  height: 145px;
  border-radius: 85px;
}

.giraffe-name {
  margin-top: 27px;
  margin-left: auto;
  margin-right: auto;
  width: 106px;
  height: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #435F40;
}

.giraffe-icons-wrapper {
  width: 150px;
  height: 29px;
  margin-top: 31px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.giraffe-icons {
  width: 29px;
  height: 29px;
  background: #435F40;
}

.giraffe-data-wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 189px;
  height: 39px;
  background: #DCB18B;
  border-radius: 58px;
  margin: 12px auto 2px auto;
}

.giraffe-data {
  width: 28px;
  height: 19px;
  margin-top: 10px;
  margin-left: 23px;
  margin-right: 23px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #333333;
}

.giraffe-info-wrapper {
  margin-left: 33px;
}

.giraffe-info {
  font-size: 15px;
  line-height: 18px;
  margin-top: 19px;
  font-weight: 300;
  color: #333333;
}

.giraffe-info b {
  color: #435F40;
}

#update-wrapper {
  width: 506px;
  height: 287px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px #869CB0;
  border-radius: 28px;
  margin: 35px 26px 0 55px;
  padding: 21px 33px;
}

#update-close {
  float: right;
  display: inline-block;
}

#update-separator {
  width: 441px;
  height: 3px;
  background: #D9D9D9;
  border-radius: 18px;
  margin-top: 6px;
  margin-bottom: 8px;
}

#update-data table {
  width: 100%;
  border-spacing: 25%;
  text-align: left;
  border-bottom: 1px solid #D9D9D9
}

#update-data th {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #B4B4B4;
  padding-bottom: 4px;
  border-bottom: 1px solid #D9D9D9;
}

#update-data td {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #435F40;
  padding-top: 12px;
  padding-bottom: 13px;
}
#update-data td.p0{
  padding: 0;
}

.status-wait {
  background: #D2EFFF;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}

.status-done {
  background: #C1FFC8;
  border-radius: 5px;
}

.status-decline {
  background: #FFC1C1;
  border-radius: 5px;
}

.status-not-approved {
  background: #FFEAC1;
  border-radius: 5px;
}


#filling-wrapper {
  margin-top: 76px;
  width: 506px;
  height: 217px;
  background: #668663;
  border-radius: 28px;
}

#filling-close {
  display: block;
  float: right;
  margin: 14px 17px 0 auto;
  color: #FFFFFF;
}

#filling-percent {
  display: inline-block;
  font-weight: normal;
  font-size: 50px;
  line-height: 59px;
  color: #FFFFFF;
  margin: 22px 9px 0 30px;
}
#filling-text{
  display: inline-block;
  font-weight: bold;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
}
#filling-bar{
  width: 323px;
height: 31px;

background: #435F40;
border-radius: 35px;
margin: 16px 23px 0 29px;
padding: 4.23px 5.14px;

}
#filling-progress{
  width: 237.62px;
  height: 22.55px;
  background: #F3DBC7;
  border-radius: 35px;
}

/*# sourceMappingURL=main.css.map */